<div> <%= @tourist.name %> </div>
	
<%= form_for [@tour] do |f|%>

  
	<div class="excursion-container">
		<%= f.label :Excursion %>
		<%= f.text_field :excursion_id, :value => @offer.excursion_id %>
	</div>
	
	<div class="guide-container">
		<%= f.label :Guia %>
		<%= f.text_field :guide_id, :value => @offer.user_id %>
	</div>

	<div class="name-container">
		<%= f.label :Turista %>
		<%= f.text_field :tourist_id, :value => @tourist.id %>
	</div>
    

  
    <%= submit_tag("Create Tour!!!") %>
<% end %>

