<div> <%= @tourist.name %> </div>
	
<%= form_for([@tourist, @tour], method: "post") do |f|%>
    
    <div class="name-container">
        <%= f.label("Excursions") %>
        <%= f.select(:excursion_id, @offers_excursions) %> 
    </div>     
    <%= submit_tag("Create Tour!!!") %>
<% end %>

<%= link_to "Back", @guide%> 

