<div class = "user-session text-color">
    <div> <%= @user.name %> </div>

    <%= form_for(@offer, method: "post") do |f|%>
            
        <% if @excursion.present? %>
            <%= f.hidden_field(:excursion_id, { value: @excursion.id }) %>
        <% else %>
            <div class="name-container">
                <%= f.label("Excursions") %>
                <%= f.select(:excursion_id, @excursions_list) %> 
            </div>
        <% end %>
        <div class="language-container">
            <%= f.label("Languaje") %>
            <%= f.text_field(:language) %>
        
        </div>
            
        <div class="date-container">
            <%= f.label("Date") %>
            <%= f.date_field(:date) %>    
        </div>
            
        <%= submit_tag("Create Offer!!!") %>
    <% end %>

    <%= link_to "Back", root_path%> 
</div>