<div class = "user-session text-color">
    <div> <%= @user.name %> </div>
    <%= form_tag "/offers/user/" + current_user.id.to_s + "/excursion/" + @excursion.id.to_s,  class: "form-group", method: "post"  do %>
        <div class="language-container">
           
         <%= label_tag("Languaje") %>
         <%= text_field_tag(:language) %> 
          
        </div>
            
        <div class="date-container">
             <%= label_tag("Date") %>
              <%= date_field_tag(:date) %>   
        </div>  
      <%= submit_tag("Nuevo !!!", class: "btn btn-default enviar") %>
   
  <% end %>  

</div>


