<div class = "user-session text-color">
    <div> <%= @guide.name %> </div>

    <%= form_for([@offer, @guide, @excursion], method: "post") do |f|%>
            
        <div class="name-container">
            <%= f.label("Excursions") %>
            <%= f.select(:excursion_id, @excursion) %> 
        </div>

        <div class="language-container">
            <%= f.label("Languaje") %>
            <%= f.text_field(:language) %>
        
        </div>
            
        <div class="date-container">
            <%= f.label("Date") %>
            <%= f.date_field(:date) %>    
        </div>

        <div class="available-container">
            <%= f.label("Availables Places") %>
            <%= f.select(:available, 1..20) %>
        </div>
            
        <%= submit_tag("Create Offer!!!") %>
    <% end %>

    <%= link_to "Back", @user%> 
</div>