
<%= form_for @guide do |f|%>
	 
	<div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2"> 
            <%= f.label :Nombre, class: "text-excursion" %>
        </div>    
        <div class = "col-sm-7">    
            <%= f.text_field :name, class: "text-field text-field-name" %>
        </div>
    </div>  

     <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2">  
            <%= f.label :Teléfono, class: "text-excursion" %>
        </div>    
        <div class = "col-sm-7">    
            <%= f.telephone_field :phone, class: "text-field text-field-tele" %>  <span>horas.</span>
        </div>
    </div>  

    <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2"> 
            <%= f.label :Correo, class: "text-excursion" %>
        </div>    
        <div class = "col-sm-7">    
            <%= f.email_field :email, class: "text-field text-field-name" %>
        </div>
    </div>  

    <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2"> 
            <%= f.label :descripción, class: "text-excursion" %>
        </div>    
        <div class = "col-sm-7">    
            <%= f.text_area :description, class: "text-field text-field-area" %>
        </div>
    </div> 
    <div class = "inf-caja-admin"> 
		<%= f.submit "Guardar", class: "btn btn-xs button" %>
	</div>
	
<%end%>
