<% @guides.each do |guide| %>
  <div class = "caja-guia container-fluid">
    <div class = "row col-sm-12 enlace-guia">                   
       <%= link_to "Guide: " + guide.name, edit_user_registration_path %>
    </div>
   
    <div class = "row"> 
      <div class ="col-sm-3">
        <div class = "caja-text-guia">
          <div class = "guia-img"><%=image_tag("guias/guia1.jpg")%></div>
           <div class = "text-guia">Teléfono: <%= guide.phone %></div>
           <div class = "text-guia">correo: <%= guide.phone %> </div>
        </div> 
      </div> 
      
      <div class ="col-sm-9 text-bol">      
        <% if !guide.offers.blank? %>
          <% cont1 = 0 %>
          <% guide.offers.each do |offer| %>
            <%cont1 = cont1 + 1%>
            <% if cont1 == 4 %>  <%break%>  <% end %>
            <div class = "caja-monument">
              <h5 class = "text-bol"> Excursion: <%= offer.excursion.name %> </h5>
              <% cont = 0 %>
              <% offer.excursion.monuments.each do |monument| %>
                <div class = "monument_img"><%=image_tag(monument.image)%></div>
                  <%cont = cont + 1%>
                  <% if cont == 1 %>  <%break%>  <% end %>
              <% end %>
               <div class = "text-exc-guia">Idioma: <%= offer.language %> </div>
               <div class = "text-exc-guia">Fecha: <%= offer.date %> </div>
               <div class = "text-exc-guia"> Plazas: <%= offer.available %> </div>

              <%= link_to("Reservar", "", class: "button-exc, button-reservar")%>
            </div>  
          <% end %>
       
        <% end %>
   
      </div>    
    </div>    
  </div>
<% end %>
<div class = "paginacion-guia">
  <%= paginate @guides %>
</div>







  