<h1>Guides</h1>

<ul>
  <% @guides.each do |guide| %>
    <li>
      <%= link_to guide.name, guide_path(guide) %>
       <%= link_to "New Guide", new_guide_path %>
       <%= link_to("Edit Guide", edit_guide_path(guide)) %>
       <%= link_to("Delete Guide", guide_path(guide), method: :delete, data:{confirm: "Are you sure?"}) %>
       <%= link_to "Create Offer", "/offers/new/" + guide.id.to_s %>
    </li>
  <% end %>
</ul>

<%= link_to "Back", root_path %>