<%= form_for @excursion do |f|%>
	 
	<div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2"> 
            <%= f.label :Nombre, class: "text-excursion" %>
        </div>    
        <div class = "col-sm-7">    
            <%= f.text_field :name, class: "text-field text-field-name" %>
        </div>
    </div>  

     <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2">  
            <%= f.label :Duración, class: "text-excursion" %>
        </div>    
        <div class = "col-sm-7">    
            <%= f.select :duration, 1..10, class: "text-field text-field-name" %>  <span>horas.</span>
        </div>
    </div>  

    <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2"> 
            <%= f.label :Precio, class: "text-excursion" %>
        </div>    
        <div class = "col-sm-7">    
            <%= f.number_field :price, class: "text-field text-field-number" %>
        </div>
    </div>  

    <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2"> 
            <%= f.label :Descripción, class: "text-excursion" %>
        </div>    
        <div class = "col-sm-7">    
            <%= f.text_area :description, class: "text-field text-field-area" %>
        </div>
    </div> 
    <div class = "inf-caja-admin"> 
		<%= f.submit "Guardar", class: "btn btn-xs button" %>
	</div>
	
<%end%>
		


	
       