
<div class = "user-session">
	<%= form_for [@excursion @monuments]do |f|%>
		<div class="name-container">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>

		<div class="duration-container">
			<%= f.label :duration %>
			<%= f.select :duration, 1..10 %> <span>hours</span>
		</div>

		<div class="price-container">
			<%= f.label :price %>
			<%= f.number_field :price %>
		</div>

		<div class="start-container">
			<%= f.label :start %>
			<%= f.date_field :start %>
		</div>

		<div class="description-container">
			<%= f.label :description %>
			<%= f.text_area :description %>
		</div>

		<div class="monuments-container">
			<%= f.label :monuments %>
			  <%= f.select(:id, @monuments) %>
			
		</div>

		<div class="available-container">
            <%= f.label("Availables Places") %>
            <%= f.select(:available, 1..20) %>

        </div>

		<%= f.submit "Submit" %>
	<%end%>


	<%= link_to "Atrás", root_path %>
</div>	