
<%= display_flash_message%>
<h1>Excursions</h1>
<%= link_to "New Excursion", new_excursion_path %><br>
<%= link_to "Guides", guides_path %><br>
<%= link_to "Tourists", tourists_path %>
<!-- para consultar las excursiones entre dos fecas -->
<%= form_tag(excursions_date_path, method: "post") do %>

    <%= label_tag("Initial_date") %>
    <%= date_field_tag(:init_date) %> 

    <%= label_tag("Final_date") %>
    <%= date_field_tag(:final_date) %>
    
    <%= submit_tag("Search!!!") %>
<% end %>

<!-- Para mostrar las excursiones-->
<ul>
  <% @excursions.each do |excursion| %>
    <li>
       <%= link_to excursion.name, excursion_path(excursion) %>
       <%= link_to("Edit", edit_excursion_path(excursion)) %>
       <%= link_to("Delete", excursion_path(excursion), method: :delete, data:{confirm: "Are you sure?"}) %>
    </li>
  <% end %>
</ul>
