<div class = "notice">
    <%= display_flash_message%>
</div>

<div class = "caja-busq">
  <h3 class = "tit-busq">Buscas una Excursión</h3>
<!-- para consultar las excursiones entre dos fechas -->
  <%= form_tag excursions_date_path,  class: "form-group", method: "post"  do %>
    <div class = "row">  
      <span  class= "col-sm-6 ">
        <%= label_tag("Fecha Inicio" ) %>
      </span>

      <span  class= "col-sm-6 " >
        <%= label_tag("Fecha Fin") %>
      </span>
    </div> 

    <div class = "row">  
      <span  class= "col-sm-6">
        <%= date_field_tag(:init_date, class: "cuadro-fecha") %>
      </span>

      <span  class= "col-sm-6">
        <%= date_field_tag(:final_date) %> 
      </span>
    </div> 
   
    <div class = "row">    
      <%= submit_tag("Buscar !!!", class: "btn btn-default enviar") %>
    </div>
  <% end %> 
</div>

<div class = "caja-busq">
  <h3 class = "tit-busq">Buscas un Guía</h3>
 <!--MIRAR A VER QUE PASA-->
   <!--select("post", "id", @guides)--> 
  
    <div class = "row">    
      <%= submit_tag("Buscar !!!", class: "btn btn-default enviar") %>
    </div>
 
</div>