<div class = "caja-exc">
<h1>Excursion</h1>
<ul>
    <li> Id: <%= @excursion.id %> </li>
    <li> Name: <%= @excursion.name %> </li>
    <li> Duration: <%= @excursion.duration %> </li>
    <li> Price: <%= @excursion.price %> </li>
    <li> Start: <%= @excursion.start %> </li>
    <li> Description: <%= @excursion.description %> </li>
</ul>

<% if @excursion.offers.present? %>
    <h1>Offers</h1>
    <ul>
      <% @excursion.offers.each do |offer| %>
    
        <h3> Guide: <%= offer.user.name  %>  <%= offer.user_id  %> </h3>  
        <li> Language: <%= offer.language %> </li>
        <li> Date: <%= offer.date %> </li>
        <li> Available: <%= offer.available %> </li>
        <%= link_to "Book a tour", excursions_path %>  
      <% end %>
    </ul>
<% end %>

<%= link_to "Back to Excursions", excursions_path %>  
</div>