<!-- Para mostrar las excursiones-->

<% @excursions.each do |excursion| %>
<div class = "caja-exc container-fluid">
    <div class = "row col-sm-12 enlace-excursion"> 									
    	<%=link_to excursion.name, excursion_path(excursion) %>
    </div>

    <div class = "row"> 
    	<div class ="col-sm-2 datos-exc ">
    		<div class = "caja-text-exc">
			    Duracion: <%= excursion.duration %> h. 
			    Precio: <%= excursion.price %> €.
			    Fecha: <%= excursion.start %> 
			</div>

		    <div class = "row caja-button-exc">
		    	<%if user_signed_in? && current_user.role=="guide" %>	
			       <%= link_to("Ofertar", "/offers/users/excursions/" + excursion.id.to_s, class: "button-exc, button-ofertar")%>
		       	<% else%>
		       		<%= link_to("Reservar", excursion_path(excursion), class: "button-exc, button-reservar")%>
		       	<% end %>
			</div>
		</div>

		<% cont = 0 %>
	    <div class ="col-sm-10">   
	       <% excursion.monuments.each do |monument| %>
		       	<div class = "caja-monument">
			       	<div class = "monument_img"><%=image_tag(monument.image)%></div>
					<div class = "text-monument"> <%=monument.name%> </div>	
				</div>	
				<%cont = cont+1%>
				<% if cont == 4%>
					<%break%>
				<% end %>	
			<% end %>	
		</div>	
	</div>	

	<div class = "row descrip-exc col-sm-12">
		  Description: <%= excursion.description %> 
	 </div>

</div>
<% end %>