<div class="caja-admin container-fluid">
    <div class="sup-caja-admin container-fluid">Excursion:  <%= @excursion.name %> </div>

    <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2">  
            <div class = "text-excursion"> ID. Excursión: </div> 
        </div>    
        <div class = "col-sm-7">    
            <div class = "text-excursion"> <%= @excursion.id %> </div>
        </div>
    </div>   

     <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2">  
            <div class = "text-excursion"> Nombre: </div> 
        </div>    
        <div class = "col-sm-7">    
            <div class = "text-excursion"> <%= @excursion.name %> </div>
        </div>
    </div>  

    <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2">
            <div class = "text-excursion"> Duración: </div> 
        </div>    
        <div class = "col-sm-7">    
            <div class = "text-excursion">  <%= @excursion.duration %> h.</div>
        </div>
    </div> 


    <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2">  
            <div class = "text-excursion">Precio: </div> 
        </div>    
        <div class = "col-sm-7">    
            <div class = "text-excursion"> <%= @excursion.price %> €.</div>
        </div>
    </div> 

    <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2">  
            <div class = "text-excursion">Descripción: </div>    
        </div>    

        <div class = "col-sm-7">    
            <div class = "text-excursion"> <%= @excursion.description %>  </div>
        </div>
    </div>

    <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2">  
            <div class = "text-excursion">F. Creación: </div>    
        </div>    

        <div class = "col-sm-7">    
            <div class = "text-excursion"> <%= @excursion.created_at %>  </div>
        </div>
    </div>  

    <div class = "row row-excursion">
        <div class = "col-sm-2"> </div>
        <div class = "col-sm-2">  
            <div class = "text-excursion">F. Modificación: </div>    
        </div>    

        <div class = "col-sm-7">    
            <div class = "text-excursion"> <%= @excursion.updated_at %>  </div>
        </div>
    </div>     
              
</div>
