<div class = "caja-registrar container-fluid">

  <h2 class = "tit-busq text-color">Registro Usuario </h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

      <%= f.label :Nombre, class: "text-color" %> <br />
      <%= f.text_field :name,  autofocus: true, class: "name-container fondo-container" %>

    <div>
      <%= f.label :Telefono, class: "text-color" %> <br />
      <%= f.text_field :phone, class: "phone-container fondo-container" %>
    </div>

    <div>
      <%= f.label :Role, class: "text-color" %> <br />
      <%= f.select(:role, ["guide", "tourist", "admin"] ) %> 
    </div>

    <div>
      <%= f.label :Email, class: "text-color" %><br />
      <%= f.email_field :email, class: "name-container fondo-container" %>
    </div>

     <div>
      <%= f.label :Password, class: "text-color" %>
      <% if @minimum_password_length %>
      <em class= "text-color">(<%= @minimum_password_length %> caracteres minimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "pass-container fondo-container" %>
    </div>

    <div>
      <%= f.label :Password_confirmacion, class: "text-color"  %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: " pass-container fondo-container"  %>
    </div>
    <div>
      <br>
      <%= f.file_field :avatar %>
    </div>
      <%= f.submit "Registrarse", class: "button-registrar" %>
   
  <% end %>

  
</div>